body{
	margin:0;
	padding: 0;
}
@font-face{
	font-family: 'Roboto_thin';
	src: url('../font/Roboto-Thin.ttf');
}
@font-face{
	font-family: 'Roboto_Regular';
	src: url('../font/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Roboto_bold';
	src: url('../font/Roboto-Bold.ttf');
}
ul{
	padding-left: 0px;
	margin :0px;
}
ul li{
	list-style: none;

}
p{
	margin:0;
	
}
 header{
	background: url('../img/Asset 10.png') ;
	height: 92px;
}
header .logo{
	margin-top: 7px;
}
nav{
	margin-left: 80px;
}
nav .navs ul li{
	float: left;
	margin-left: 20px;
	margin-top:12px;
	font-size: 15px;
	/*font-family:'Roboto_Regular';*/
}
nav .navs .navs1{
	color: #104974;
}
nav .button {
	margin-top: 4px;

}
nav .button .buttons{
	width: 131px;
	height: auto;
}
.banners{
	margin-top: 10px;
	position: relative;
}
.banners .note{
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	margin-left: 30px;
}
.banners .note .texts h2{
	font-size: 28px;
	/*font-family:'Roboto_Regular';*/
}
.banners .note .btn_banner{
	margin-top: 30px;

}
.banners .note .btn_banner .btn_banners{
	/*font-family:'Roboto_Regular';*/
	border-radius: 5px;
}
.banners .note .btn_banner .btn_banners1{
	background: #003C4C;
	width: 90px;
	margin-left: 50px;
	color: #fff;
	padding: 5px 2px;
	border-radius: 5px;
	/*font-family:'Roboto_Regular';*/
}
.banner_btm{
	background:#E3F7FF;
	padding: 5px;
}
.banner_btm .banner_btm_left p{
	float: right;
	margin-top: 18px;
	/*font-family:'Roboto_thin';*/
}
.banner_btm .banner_btm_left img{
	margin-left: 250px;
	margin-bottom: 5px;
}
.banner_btm .banner_btm_right{
	margin-top: 18px;
}
/*.banner_btm .banner_btm_right a{
	font-family:'Roboto_thin';
}*/
main{
	background: #E9F2EF;
	padding-bottom: 20px;
}

main .main_text{
	padding: 80px 0 0 0;
}
/*main .main_text h3{
	color: #003366;
	font-family:'Roboto_Regular';
}
main .main_text .p1{
	font-family:'Roboto_thin';
}*/
main .main_text h3{
	margin-bottom: 0px;
}
main  .main_center{
	margin-top: 30px;
}
/*main  .main_center h3 b{
	font-family: 'Roboto_bold';
}
main  .main_center button{
	font-family:'Roboto_Regular';
}
main  .main_center .texts p{
	font-family:'Roboto_thin';
	color: #333333;
}*/
main  .main_center .thanh_doc{
	padding-top: 50px;
}
main  .main_center .texts{
	margin-top: 15px;
}
footer .footer_fist{
	background: #E3F7FF;
}
/*footer .footer_fist h3{
	font-family:'Roboto_Regular';
	color: #21A0DF;
}*/
/*footer .footer_fist p{
	font-family:'Roboto_thin';
}*/
footer .footer_fist h3{
	color: #215CA0;
	margin-left: 15px;
}
footer .footer_fist .search{
	margin: -15px 0 25px 0;
}
footer .footer_fist .search h3{
	margin :30px 0 0 0;
}
footer .footer_center{
	background: #1C2B39 ;
	padding-bottom: 50px;
}
footer .footer_centers{
	background : #1C2B39 ;
}
footer .footer_centers .logo_ft .icon_lk{
	margin-top: 20px;
}
footer .footer_centers .logo_ft .icon_lk .icon_lk1{
	margin-left:15px;
}
footer .footer_centers .logo_ft #h4{
	margin-top: 20px;
}
footer .footer_centers{
	background: #1C2B39 ;
	margin:25px 0 0 70px ;
}
footer .footer_centers p{
	padding-top: 20px;
	/*font-family:'Roboto_thin';*/
}
footer .footer_centers p a{
	color: #ffffff;
}
footer .footer_centers .ft_cuoi{
	margin-left: 50px;
}
footer .ft_end{
	background: #081e29 ;
}
footer .ft_end .text_ft_end ul{
	margin-right: 30px;

}
footer .ft_end .text_ft_end ul li {
	float: left;
	color: #007AB9;
	margin-bottom: 0;
}
footer .ft_end .text_ft_end ul li .text_ft_end1{
	color: #007AB9;
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 0;
}
footer .ft_end .text_ft_end p{
	float: left;
	color: #ffffff;
	/*font-family:'Roboto_thin';*/
}
footer .ft_end .ft_end2 img{
	margin-top: 30px;
}




	











